<html>
  <head>
    {% block title %}

    {% endblock %}
  </head>
  <body>
    <nav>
      {% if with_navigation %}
        {% for item in urls %}
          {% for key, value in item.items() %}
            {% if key != 'in_nav' and key != 'name' and item.in_nav %}
              <li>
                <a href="{{ url_for(value) }}">{{ item.name }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      {% endif %}
    </nav>
    {% block content %}

    {% endblock %}
  </body>
</html>
