{% extends 'base.html' %} {% block title %}
  {{model_name}} List
{% endblock %} {% block content %}
    <h1>Create {{ model_name }}</h1>
    <form method="POST">
        {% for column in columns %}
            {% if column.name != 'id' %}
            <div>
                <label for="{{ column.name }}">{{ column.name.capitalize() }}</label>
                <input type="{% if column.type.python_type == int %}number{% elif column.type.python_type == str %}text{% elif column.type.python_type == bool %}checkbox{% else %}text{% endif %}" 
                       name="{{ column.name }}" 
                       id="{{ column.name }}"
                       {% if column.nullable == False %}required{% endif %}>
            </div>
            {% endif %}
        {% endfor %}
        <button type="submit">Create {{ model_name }}</button>
    </form>
{% endblock %}